fastapi
uvicorn
numpy
tensorflow
python-dotenv
python-multipart
livekit
livekit-agents
livekit-api
livekit-protocol
livekit-plugins-noise-cancellation
livekit-plugins-silero
livekit-plugins-turn-detector
livekit-plugins-elevenlabs
pillow
scikit-learn
openai
protobuf
silero