/* ===== Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* ===== Container ===== */
.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #f0fdf4 0%, #f6f6f6 100%);
  color: #fff;
  text-align: center;
}

/* ===== Logo ===== */
.home-logo {
  width: 200px;
  height: 200px;
  margin-bottom: 2rem;
  border-radius: 35px;
  animation: fadeInScale 0.8s ease-out;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* ===== Header ===== */
.home-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  background: linear-gradient(90deg, #015520, #01521f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ===== Paragraph ===== */
.home-container p {
  font-weight: 300;
  color: #000000;
  margin-bottom: 2.5rem;
  font-size: 1rem;
  max-width: 400px;
  line-height: 1.5;
}

/* ===== Button ===== */
.home-container button {
  background: linear-gradient(90deg, #dadada, #c5c5c5);
  border: none;
  padding: 1rem 2rem;
  border-radius: 30px;
  color: #000;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 20px #0a0a0a;
}

.home-container button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #015520;
}
